
*{
    margin: 0;
    padding: 0;
}

#card-background-img{
    background-image: url('https://kachabazar-store.vercel.app/_next/image?url=%2Fapp-download-img.png&w=640&q=75');
    background-repeat: no-repeat;
    background-position: right;
    background-color: #E8EBF3;
    background-size: contain;
    
}
#card-background-img-2{
    background-image: url('https://kachabazar-store.vercel.app/_next/image?url=%2Fbanner-1.jpg&w=1920&q=75');
    background-repeat: no-repeat;
    background-position: right;
    
    background-size: contain;
    
}
#card-background-img-3{
    background-image: url('https://kachabazar-store.vercel.app/_next/image?url=%2Fbanner-2.jpg&w=1920&q=75');
    background-repeat: no-repeat;
    background-position: right;
    
    background-size: contain;
    
}

#cards-deck-style{
    
    width: '90%';
    margin: auto;
    height: 92px;
    border-radius: 10px;
    padding: 24px;
}

#feature-category-style{
   
    height: 92px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

#heading-style{
    justify-content: center;
    margin: auto;
    display: flex;
    text-align: center;
    width: 50%;
    align-items: center;
}

#hover-style:hover{
    cursor: pointer;
}

#product-card:hover{
    cursor: pointer;
}

#img-zoom-in:hover{
    transform: scale(1.1);
    
}


#tast-cards-style{
    background-color: #F6ECDF;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    background-image: url('https://kachabazar-store.vercel.app/_next/image?url=%2Fapp-download-img.png&w=640&q=75');
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 30px;
    padding-top: 40px;
}

#tast-cards-style:hover{
    cursor: pointer;
}

#shop-now-btn{
    border: none;
    border-radius: 20px;
    text-transform: capitalize;
    color:gray;
    font-weight: bold;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px; 
}

#shop-now-btn:hover{
    background-color: #059669;
    color: white;
}


/* footer */
#app-store-hover-div:hover{
    cursor: pointer;
}

#footer-buttons{
    color: #6F6F6F;
}

#footer-buttons:hover{
    color: #10B981;
}